@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  /* background-color:red; */
  overflow-x: hidden;
  background-color: #F0F4F9;
}


.doubt-img {
  background-image: linear-gradient(#060346d9, #060346d9), url('./assets/img/DoubtQuestions.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0f0d31;
}


/* src/index.css */
@keyframes updown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-updown {
  animation: updown 2s infinite ease-in-out;
}

.input-wrapper {
  position: relative;
}

.search-input {
  padding-left: 2.5rem; /* Adjust padding to make room for the icon */
}

.search-icon {
  position: absolute;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #6b7280; /* Tailwind's gray-500 color */
}

.custom-img-size {
  width: 6rem; /* Default size for very small screens */
}

.animate-bounce {
  animation: bounce 2s infinite;
}


.testimonial-card {
  position: relative;
  overflow: hidden;
  border: 1px solid #e2e8f0; /* Light gray border */
  border-radius: 8px; /* Slightly rounded corners */
}

.testimonial-card::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 60px 60px;
  border-color: transparent transparent #416a85 transparent; /* Light background color */
}




@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}



@media (min-width: 320px) {
  .custom-img-size {
    width: 8rem; /* Adjust this value for small screens */
  }
}

@media (min-width: 520px) {
  .custom-img-size {
    width: 10rem; /* Adjust this value for medium screens */
  }
}

@media (min-width: 768px) {
  .custom-img-size {
    width: 15rem; /* Adjust this value for larger screens */
  }
}

@media (min-width: 1024px) {
  .custom-img-size {
    width: 20rem; /* Adjust this value for extra large screens */
  }
}


#header.scrolled {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1024px) {
  .fixed {
    transition: transform 0.3s;
    transform: translateX(100%);
  }
  .fixed.translate-x-0 {
    transform: translateX(0);
  }
}

